.hover-zoom[data-v-ed23feec]{transition:transform .3s ease}.hover-zoom[data-v-ed23feec]:hover{transform:scale(1.05)}.contact-list .v-list-item__prepend[data-v-ed23feec]{align-self:flex-start;margin-top:4px}
