.leading-relaxed[data-v-b46bf9e3]{line-height:1.6!important}.shadow-sm[data-v-b46bf9e3]{box-shadow:0 4px 20px #00000008!important}.gap-4[data-v-b46bf9e3]{gap:16px}[data-v-b46bf9e3] .v-timeline-divider__line{background:#e0e0e0!important}
