.leading-relaxed[data-v-48eab291]{line-height:1.6!important}.shadow-sm[data-v-48eab291]{box-shadow:0 2px 8px #0000000d!important}[data-v-48eab291] .v-timeline-divider__line{background:#e0e0e0!important}
