.leading-relaxed[data-v-6e9049c7]{line-height:1.6!important}.shadow-sm[data-v-6e9049c7]{box-shadow:0 2px 10px #0000000a!important}.gap-3[data-v-6e9049c7]{gap:12px}[data-v-6e9049c7] .v-timeline-divider__line{background:#e0e0e0!important}
