.leading-relaxed[data-v-f6c9f745]{line-height:1.6!important}.shadow-sm[data-v-f6c9f745]{box-shadow:0 2px 10px #0000000a!important}.gap-3[data-v-f6c9f745]{gap:12px}[data-v-f6c9f745] .v-timeline-divider__line{background:#e0e0e0!important}
