.shadow-img[data-v-a199ca9d]{filter:drop-shadow(0 4px 8px rgba(0,0,0,.1));transition:filter .3s ease}.shadow-img[data-v-a199ca9d]:hover{filter:drop-shadow(0 6px 12px rgba(0,0,0,.2))}a[data-v-a199ca9d]{text-decoration:none}
